@media (max-width: 800px){
    #header-home{
        height: 30rem;
        .header-content{
            padding-top: 5rem;
        }
    }
}

@media(max-width: 500px){
    #main-nav{
        flex-direction: column;
        align-items: center;

        li{
            padding: 1rem;
        }
    }

    #header{
        &-home{
            height: 10rem;
            border-bottom: 3px solid $main-color;

            .header-content{
                display: none;
            }
        }

        &-inner{
            height: 10rem;
        }
    }


    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    #contact-b .contact-info,
    .items{
        grid-template-columns: 1fr;
    }

}